# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# System Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Temporary Files
*.tmp
*.log

# Python Build Files
build/
dist/
*.egg-info/

# Jupyter Runtime
.jupyter/

# Cache
.cache/